h1{
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
body{
  font-family: "Montserrat";
}
h3{
  font-weight: bold;
}
h2{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.doge{
  transform: rotate(25deg);
  width: 60%;
  position:absolute;
  right: 30%;
}
/* Navbar */
.navbar{
  padding:0 0 4.5rem 0;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat"
}
.donwload-button{
  margin: 5% 3% 5% 0;
}
.col-features{
  text-align: center;
  padding: 5%;
}
.icon{
  padding-bottom: 1rem;
  color: #ef8172;
}
.icon:hover{
  color:#ff4c68;
}
.pricing-card{
}
.row p{
  color: grey;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
#testimonials{
  background-color: #ef8172;
  color: white;
  text-align: center;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 15px 50px;
}
.social-icon{
  padding: 10px;
}
#pricing{
  padding: 100px;
  text-align: center;

}
#pricing p{
    color: grey;
}
#cta{
  background-color: #ff4c68;
  color: white;
  text-align: center;
  padding: 7% 15%;
}
#cta h3{
  font-size: 3.5rem;
  font-family: "Montserrat";
  padding: 3%;
}
#footer{
  text-align: center;
  padding: 7% 15%;

}
@media (max-width:900px) {
  #title{
    text-align: center;
    font-size: 2.5rem;
  }
  .doge{
    position: static;
    transform: rotate(0deg);
    text-align: center;
  }
}
